@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #333;
    --btn-bg-color: #444;
    --btn-op-color: #6c63ff;
    --btn-hover: #555;
    --btn-op-hover: #8a85ff;
    --btn-op-equal: #25f352;
  }
  
  body {
    height: 100vh;
    background-color: rgba(186, 190, 188, 0.692);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin: 0;
  }

  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-weight: 900;
    font-size: xx-large;
    color: rgb(72, 140, 204);
  }
  
  .calculator {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: var(--bg-color);
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    /* width: auto; */
  }
  
  .display {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 2em; 
    border-bottom: 2px solid #555;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-family: 'Orbitron'
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
  }
  
  .btn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:1.5rem;
    background-color: var(--btn-bg-color);
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 1px;
  }

  .ripple {
    background-position: center;
    transition: background 0.3s;
  }
  .ripple:hover {
    background: #555758 radial-gradient(circle, transparent 1%, #494d50 1%) center/15000%;
  }
  .ripple:active {
    background-color: inherit;
    background-size: 100%;
    transition: background 0s;
  }
  
  .btn.operator {
    background-color: var(--btn-op-color);
  }

  #equal{
    background-color: var(--btn-op-equal);
    grid-column: 3 / 5;
  }
  
  .btn:hover {
    background-color: var(--btn-hover);
  }
  
  .btn.operator:hover {
    background-color: var(--btn-op-hover);
  }
  
  @media (max-width: 908px) {
    .heading {
        font-size: x-large; /* Adjust font size for smaller screens */
    }
    .calculator{
      width: 50%;
    }

    .display {
        font-size: 1em; /* Make the display text smaller to fit the device */
    }

    .btn {
        font-size: 1rem; /* Decrease the button font size for better fit */
        padding: 12px; /* Adjust padding to maintain button usability */
    }
}

@media (max-width: 508px) {
  .heading {
      font-size: x-large; /* Adjust font size for smaller screens */
  }
  .calculator{
    width: 60%;
  }

  .display {
      font-size: 1em; /* Make the display text smaller to fit the device */
  }

  .btn {
    width: a;
      font-size: 1rem; /* Decrease the button font size for better fit */
      padding: 12px; /* Adjust padding to maintain button usability */
  }
}
